@model HandleErrorInfo

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    22222222222222222
    @if (Model != null)
    {
        <div>
            Model.Exception.Message
        </div>
    }
           
</body>
</html>
