<connectionStrings>
  <add name="BlogSlaveDb" connectionString="data source=DESKTOP-VDJRNNR; initial catalog=cnBlogs;Uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
  <add name="BlogMasterDb" connectionString="data source=DESKTOP-VDJRNNR; initial catalog=cnBlogs;Uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
</connectionStrings>